.THIS{
    margin-right:0em;
     margin-left:0em;
}
.THIS.custom-background {
    background-color: white;
margin-right:0em;
     margin-left:0em;   
    	
}
.THIS .field{
  padding: 4px;
  border: 1px solid #ffffff;
  border-radius: 2px;
    height:20px;
}
.THIS .fontsize{
    font-size: 10px;
}