<apex:page standardController="Case" >
  <apex:includeLightning />
  <div id="CsNewCase"></div>
  <script>
      $Lightning.use("c:CS_CASETYPIFICATION_LIGHTNING_APP", function() 
                        {
                            $Lightning.createComponent("c:CS_CASETYPIFICATION_LIGHTNING_COMPONENT", {}, "CsNewCase", function(cmp) {});
                        }
                    );
  </script>  
</apex:page>